@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

body {
  color: #000;
  font-family: "Urbanist", "sans-serif";
}

h1.page-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

h3 {
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}

h5 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

a {
  @apply text-black;
}

p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.cms_content ul li {
  padding-left: 20px;
  position: relative;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 10px;
}

.cms_content ul li::before {
  position: absolute;
  content: "";
  left: 0;
  top: 12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  @apply bg-yellow-500;
}

.cms_content a {
  @apply underline hover:no-underline;
}

.review-bg {
  background: url("./../../public/review-bg.png") no-repeat center top #fff;
  background-size: cover;
}
